{{#content}}
<div id="content">
  {{#main}}
    <div id="content-inner">
      {{#notHome}}
      <div>
        <a href="{{appUrl}}">Home</a>
      </div>
      <br/>   
      {{/notHome}}   
      <div id="content-header" class="clearfix">
        <a name="main-content" id="main-content"></a>
        <h1 class="title">{{title}}</h1>
      </div>
      <div id="content-area">
        <div class="node node-type-page">
          <div class="content clearfix">
            {{{html}}}
          </div>
        </div>
      </div>
    </div>
  {{/main}}
</div>
{{/content}}
