<div id="header">
  <div id="head-elements">
    <div id="branding">
      <div id="site-name">
        <strong><a href="{{appUrl}}" title="Home page" rel="home">{{branding}}</a></strong>
      </div>
    </div>
  </div>
</div>