<form action="/guantanamo/" accept-charset="UTF-8" method="post" id="search-theme-form">
  <div>
    <div id="search" class="container-inline">
      <div class="form-item" id="edit-search-theme-form-1-wrapper">
        <label for="edit-search-theme-form-1">Search this site: </label>
        <input type="text" maxlength="128" name="search_theme_form" id="edit-search-theme-form-1" size="15" value=""
          title="Enter the terms you wish to search for." class="form-text" />
      </div>
      <input type="submit" name="op" id="edit-submit-1" value="Search" class="form-submit" />
    </div>
  </div>
</form>