<div id="block-tagadelic-5" class="block block-tagadelic region-even even region-count-4 count-4">
  <div class="block-inner">
    <h2 class="block-title">{{title}}</h2>
    <div class="block-content">
      <div class="block-content-inner">
        {{#data}}
          <a href="{{path}}" class="tagadelic level1" rel="tag">{{label}}</a>
        {{/data}}
        <div class='more-link'>
          <a href="{{baseurl 'themes'}}">more tags</a>
        </div>
      </div>
    </div>
  </div>
</div>
