<div id="block-menu-menu-site-info" class="block block-menu region-even even region-count-2 count-2">
  <div class="block-inner">
    <h2 class="block-title">{{title}}</h2>
    <div class="block-content">
      <div class="block-content-inner">
        <ul class="menu">
          {{#archives}}
            <li class="leaf"><a href="{{baseurl path}}" title="{{title}}">{{label}}</a></li>
          {{/archives}}
        </ul>
      </div>
    </div>
  </div>
</div>
