<div id="block-views-book_blog-block_1" class="block block-views region-even even region-count-2 count-6">
  <div class="block-inner">
    <h2 class="block-title">{{title}}</h2>
    <div class="block-content">
      <div class="block-content-inner">
        <div class="view view-book-blog view-id-book_blog view-display-id-block_1 view-dom-id-1">
          <div class="view-header">
            <p><a href="http://guantanamo.fromthesquare.org/">News and discussion about the book and its themes</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>