<div id="content">
  <div id="content-inner">
    <div>
      <a href="{{appRoot}}">Home</a>
    </div>
    <br/>
    <div class="content clearfix">
      <h1>{{title}}</h1>
      <br/>
      <ul>
        {{#each tags}}
          <li><a href="/themes/{{this.slug}}" rel="tag">{{this.label}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
