<div id="block-block-1" class="block block-block region-odd odd region-count-1 count-5">
  <div class="block-inner">
    <h2 class="block-title">{{title}}</h2>
    <div class="block-content">
      <div class="block-content-inner">
        <p><em><a href="https://nyupress.org/9780814785058/the-guantanamo-lawyers/">The Guantánamo Lawyers: Inside a Prison Outside the Law</a></em> is available from NYU Press.</p>
        <p><img src="/images/gitmo_book.jpg" width="180" /></p>
      </div>
    </div>
  </div>
</div>